// ------------ Colors --------------
$primary-color            : #e63939;
$bg-color                 : #f0f3ef;
$hover-bg-color           : #ffffff;
$a-color                  : #999999;
$a-hover-color            : $primary-color;

// ------------ Common varchar --------------
$width                    : 1190px;
$normal-font              :12px;
$lg-font                  :14px;
$ll-font                  :16px;
$bg-font                  :20px;
$nav-color                :#333333;

// ------------ UserInfo --------------
$short-color              :#e3e4e5;
$short-border-color       :#dddddd;
$short-font-color         :#999999;
$short-position-left      :200px;
$short-border-color       :#cccccc;
$short-bg-color           :#f4f4f4;
$short-code-bg            :#f6f6f6;
$short-split-color        :#eeeeee;
$short-hover-color        :#e33333;
$short_line-color         :#f1f1f1;
$short-custom-font        :#666666;
$short-code-border        :#cfcfcf;
$short-code-black         :#60575a;

// ------------ Search --------------
$search-border-color      :#ededed;
$search-font-color        :#989898;
$search-button-color      :#f10215;
$search-button-hover      : #e70215;
$search-button-font       :17px;
$search-shop-color        :#999999;

// ------------ FirstScreen --------------

$fs-menu-color            :#636363;
$fs-menu-bg               :#fefefe;
$fs-menu-hover            :#d9d9d9;
$fs-button-color          :hsla(0,0%,100%,.4);
$fs-button-bg             :rgba(0,0,0,.2);
$fs-button-hover          :rgba(0,0,0,.5);
$fs-button-pagination     :#b9beba;
$fs-button-shine          :hsla(0,0%,100%,.2);
$fs-height                :480px;
$fs-photo-border          :#e3e1df;
$fs-photo-shadow          :#c3c3c3;
$fs-greed-text            :#888888;
$fs-greed-color           :#666666;
$fs-profit-shadow         :rgba(45,45,45,0.15);
$fs-pl                    :#363634;
$fs-pl-color              :#e5d790;
$fs-pl-border             :#dfe0e1;
$fs-service-split         :#ebeaea;


// ------------ Floors --------------
$sec-time-bg              :#2f3430;
$sec-font                 :20px;